<h1>Forgot your password?</h1>

<%= form_with url: password_reset_path do |form| %>

  <div class="mb-3">
    <%= form.text_field :email, class: "form-control", autocomplete: "false", placeholder: "Email" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Reset password", class: "btn btn-primary" %>
  </div>
<% end %>