<h1>Terms of Service</h1>
<p>By accessing or using our services, you agree to be bound by the terms and conditions set forth in this agreement (the "Terms of Service"). If you do not wish to be bound by these Terms of Service, you may not access or use our services.</p>
<p>We reserve the right to update or modify these Terms of Service at any time without prior notice. Your use of our services after any such change constitutes your agreement to be bound by the modified Terms of Service.</p>
<p>You are responsible for maintaining the confidentiality of your account and password, and for restricting access to your computer. You agree to accept responsibility for all activities that occur under your account or password.</p>
<p>You may not use our services for any illegal or unauthorized purpose. You must not, in the use of our services, violate any laws in your jurisdiction (including but not limited to copyright laws).</p>
<p>We reserve the right to terminate your access to our services at any time, without notice, for any reason.</p>
<p>By using our services, you agree to indemnify and hold us and our affiliates, officers, agents, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your use of our services.</p>
<p>These Terms of Service constitute the entire agreement between you and us and govern your use of our services. If any provision of these Terms of Service is found to be invalid or unenforceable, that provision shall be enforced to the maximum extent possible, and the remaining provisions shall remain in full force and effect.</p>
<p>If you have any questions or concerns about these Terms of Service, please don't hesitate to <a href="https://github.com/lionffl/scheduled-tweets/blob/main/README.md#contact">contact us</a>.</p>
